{% extends 'main/base.html' %}

{% block title %}
Канбан доска
{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/index.css' %}">
    <div class="row">
        {% for data in processed_data %}
            <div class="col">
                <h2>{{ data.column_name }}</h2>
                {% for task in data.tasks %}
                    {% include 'main/task_card.html' %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}