{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <style>
        .task-actions {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    </style>

    <h1>Монитор задач</h1>
    {% if tasks %}
       {% for task in tasks %}
           <div class="alert alert-warning mt-2" style="position: relative;">
               <h3>{{ task.title }}</h3>
               <p>{{ task.task }}</p>
               <div class="task-actions">
                   <form method="post" action="{% url 'task-update' task.id %}">
                       {% csrf_token %}
                       <button type="submit" class="btn btn-success">Изменить</button>
                   </form>
                   <form method="post" action="{% url 'task-delete' task.id %}">
                       {% csrf_token %}
                       <button type="submit" class="btn btn-danger">Удалить</button>
                   </form>
               </div>
           </div>
       {% endfor %}
    {% else %}
        <p>У нас нет записей</p>
    {% endif %}
{% endblock %}
