<div class="alert alert-warning mt-3">
    <div class="d-flex justify-content-between align-items-start">
        <div>
            <h3>{{ task.title }}</h3>
            <p class="task-description">{{ task.task }}</p>
            <p><strong>Срок выполнения:</strong> {{ task.deadline|date:"Y-m-d" }}</p>
        </div>
        <div class="task-actions">
            <a href="{% url 'task-update' task.id %}" class="btn btn-success me-2">Изменить</a>
            <form method="post" action="{% url 'task-delete' task.id %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">Удалить</button>
            </form>
        </div>
    </div>
</div>
